<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147482093398-b4fj8mq28i73k92bos9fjnj3liog8jkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147482093398-b4fj8mq28i73k92bos9fjnj3liog8jkc</string>
	<key>API_KEY</key>
	<string>AIzaSyAqdvFl93DvtfjwN_TTvGtbUjf5sspWVW4</string>
	<key>GCM_SENDER_ID</key>
	<string>147482093398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TKH.ProductivityApp</string>
	<key>PROJECT_ID</key>
	<string>productivity-app-7a77c</string>
	<key>STORAGE_BUCKET</key>
	<string>productivity-app-7a77c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147482093398:ios:3c1f5d0769ce89ff6298f7</string>
	<key>DATABASE_URL</key>
	<string>https://productivity-app-7a77c-default-rtdb.firebaseio.com</string>
</dict>
</plist>